.profile {
  display: flexbox;
  width: 50%;
  margin: auto;
  border: 1px solid rgb(219, 216, 216);
  padding: 20px;
}

.chapter {
  width: 95%;
  border-bottom: 1px solid rgb(219, 216, 216);
}

.heading {
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  text-shadow: 0.5px 0.5px 0.5px grey;
}

.subheading,
.text {
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
  padding: 15px;
  color: grey;
}

.fas {
  color: rgb(143, 158, 248);
}
