.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pages {
  display: flex;
  justify-content: center;
  
  margin-right: 30px;
}

span {
  padding: 10px;
  cursor: pointer;
  font-size: 17px;
  color: grey;
}

.selectedPage {
  font-weight: bold;
}