a,
.btn-link,
a:link,
.btn-link:link,
a:visited,
.btn-link:visited,
a:hover,
.btn-link:hover,
a:focus,
.btn-link:focus,
a:active,
.btn-link:active {
  /* RESET TEXT DECORATION AND OUTLINE */
  text-decoration: none;
}

.nav {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  background-color: black;
}

.contentNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.contentNav .nav > li > a {
  padding: 20px;
  border-color: black;
  color: grey;
}

.nav li a:hover,
.nav li.active > a,
.nav li.active > a:hover,
.nav li.active > a:focus,
.nav li.open > a,
.nav li.open > a:hover,
.nav li.open > a:focus {
  color: #1da1f2;
}

.nav > li {
  float: left;
}
.nav > li > a {
  display: inline-block;
}

.timeline .nav > li:nth-child(even):before {
  left: -8px;
  right: auto;
}

.mainContentInner {
  width: 100%;
  display: block;
}

li > a {
  border-right-width: rgba(36, 36, 59, 0.1);
}
